

/* ------------------TRANSITIONS/ANIMATIONS-------------------*/

@keyframes fade-in{
    from {
        opacity: 0%;
    }
    to{
        opacity: 100%;
    }
}


@keyframes pulse1{
    from {
        transform: scale(0);
        opacity: 10%;
    }
    to{
        transform: scale(5.5);
        opacity: 30%;
    }
}

@keyframes pulse2{
    from {
        transform: scale(0);
        opacity: 10%;
    }
    to{
        transform: scale(5);
        opacity: 40%
    }
}

@keyframes pulse3{
    from{
        transform: scale(0);
        opacity: 10%;
    }
    to{
        transform: scale(4.5);
        opacity: 50%;
    }
}

.nav:hover{
    color:#FFF;
}



.nav::before {
    content: "";
    position: absolute;
    height: 2px;
    width: 0%;
    left: 0%;
    bottom: -35%;
    background-color: #555;
    transition: width 0.3s ease-out 0.3s, 
                height 0.3s ease-in;
    z-index: -1;
}

.nav:hover::before {
    width: 100%;
    height: 170%;
    color: #555;
    z-index: -1;
}


#github-icon:hover{
    cursor: pointer;
    scale: 2;
}
#linkedin-icon:hover{
    cursor: pointer;
    scale: 2;
}




body{
    background-color: rgb(255, 255, 255);  
    font-family: 'Courier New', Courier, monospace; 
    margin: 0; 
}


/* ---------------HEADER SECTION---------------- */

.header-background-1 {
    position: absolute;
    height: 120px; /* Adjust the height as needed */
    width: 120px; /* Adjust the width as needed */
    margin-top: 20px;
    border-radius: 50%;
    justify-self: center;
    z-index: -2;
    background-color: #d8f9ff;
    overflow: hidden;
    

    animation-name: pulse1;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.header-background-2 {
    position: absolute;
    height: 120px; /* Adjust the height as needed */
    width: 120px; /* Adjust the width as needed */
    margin-top: 20px;
    border-radius: 50%;
    justify-self: center;
    z-index: -1;
    background-color: #8aecff;
    overflow: hidden;
    

    animation-name: pulse2;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
.header-background-3 {
    position: absolute;
    height: 120px; /* Adjust the height as needed */
    width: 120px; /* Adjust the width as needed */
    margin-top: 20px;
    border-radius: 50%;
    justify-self: center;
    z-index: 0;
    background-color: #3CDfff;
    overflow: hidden;
    

    animation-name: pulse3;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


.nav-header {
    background-color:#FFFFFF;
    display: flex;
    flex-flow:wrap;
    flex-direction: row;
    justify-content: right;
    align-items: center;
    position: fixed;
    box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.30);
    width: 100%; /* Use 100% to take the full width of the viewport */
    height: 55px;
    top: 0;
    z-index: 1;

    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

.menu-icon{
    width: 20px;
    height: 20px;
    justify-self: end;
    margin-right: 10px;
    display: none;
}

.nav {
    color: #898989;
    text-decoration: none;
    font-size: 20px;
    box-sizing: border-box;
    padding: 5px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
    z-index: 3; /* Asegura que el texto esté por encima del ::before */
    transition: color 0.3s ease-in;
}

/* -----------------HEADER SECTION--------------------- */
#header-section{
    position: relative;
    height: 700px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
    justify-content:center;
    border-bottom: 1px solid rgb(178, 168, 168);
}

.header {
    position: relative;
    background-color: rgba(247,249,249,1.00);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-right: 10px;
    margin-top: 10px;
    display: flex;
    flex-flow: column;
    flex-wrap: wrap;
    justify-content:center;
    align-items: center;
    max-width: 50%;
    max-height: 80%;
    
    animation-name: fade-in;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-delay: 0.5s;
    animation-fill-mode:backwards;
}

.profile-photo {
    width: 160px; 
    height: 160px;
    border-radius: 100%;    
}

.header-title {
    font-size: 40px; /* Adjust as needed */
    color: #000000;
    text-align: center;
}
.about{
    color: #000000;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 24px;
    text-align: justify;
}

.icon-container{
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content:space-around;
    margin-top: 5px;
    margin-bottom: 15px;
}
#github-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 22px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}
#linkedin-icon{
    border-radius: 50%;
    width: 25px;
    height: 25px;
    margin-right: 22px;
    transition-duration: 0.5s;
    transition-timing-function: ease-in-out;
}



/* ---------------SKILLS SECTIONS--------------- */
#skills-section{
    position:relative;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.skills-header{
    font-size: 40px;
}

.skills-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: space-evenly;
}

.skill-card{
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 200px;
    height: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgba(247,249,249,1.00);
}

.skill-card-header{
    justify-content: center;
}




/* ----------------MEDIA QUERIES----------------- */
@media (max-width: 768px){
    .menu-icon{
        display: inline;
    }
    .nav{
        display: none;
    }
    .header-title{
        font-size: 30px;
    }
    .about{
        font-size: 16px;
    }
    .profile-photo{
        width: 140px;
        height: 140px;
    }

}

@media (max-width: 425px){
    .nav-header{
        height: 45;
    }
    .header-background-1{
        width: 90px;
        height: 90px;
        margin-left: 3px;
    }
    .header-background-2{
        width: 90px;
        height: 90px;
        margin-left: 3px;
    }
    .header-background-3{
        width: 90px;
        height: 90px;
        margin-left: 3px;
    }
    .header{
        margin-left: 20px;
        max-width: 60%;
    }
    .header-title{
        font-size: 20px;
    }
    .about{
        font-size: 14px;
    }
    .profile-photo{
        width: 130px;
        height: 130px;
    }
}
@media (max-width: 375px)  {
    .nav-header{
        height: 40px;
    }
    .header-background-1{
        width: 70px;
        height: 70px;
    }
    .header-background-2{
        width: 70px;
        height: 70px;
    }
    .header-background-3{
        width: 70px;
        height: 70px;
    }
    .header-title{
        font-size: 18px;
    }
    .about{
        font-size: 12px;
    }
    .profile-photo{
        width: 120px;
        height: 120px;
    } 
}

@media (max-width: 320px){
    .nav-header{
        height: 35;
    }
    .header-background-1{
        width: 60px;
        height: 60px;
    }
    .header-background-2{
        width: 60px;
        height: 60px;
    }
    .header-background-3{
        width: 60px;
        height: 60px;
    }
    .header{
        max-height: 70%;
    }
    .header-title{
        font-size: 16px;
    }
    .about{
        font-size: 12px;
    }
    .profile-photo{
        width: 100px;
        height: 100px;
    }

}
